.box
{
    width:70px;
    height:50px;
    background-color:black;
}
.box1
{
    width:50%;
    height:60%;
    background-color:aquamarine;
}
.box2
{
    width:70%;
    height:80%;
    background-color:blueviolet;
}
.box3
{
    width:25%;
    height:30%;
}
.box4
{
    width:40%;
    height:80%;
}
p
{
    color:darkblue;
}
.one
{
    color:red;
}
.four
{
    color:green;
}